<div class="bg-light align-items-left text-left col p-3 ml-1 rounded">
    <h3 class="text-info">Add jamtrack - TimeSignature relation</h3>
    <form id="addJamtrackTimeSignatureForm" onsubmit="return false">
        <div class="form-group">
            <label for="jamtrackTimeSignatureAddId">Jamtrack id</label>
            <input type="text" class="form-control" id="jamtrackTimeSignatureAddId" aria-describedby="addTimeSignatureIdHelp" required placeholder="Enter jamtrack id">
            <small id="addTimeSignatureIdHelp" class="form-text text-muted">Jamtrack id from which scale is meant to be deleted</small>
        </div>

        <div class="form-group">
            <label for="timeSignatureAddId">Time signature id</label>
            <input type="text" class="form-control" id="timeSignatureAddId" aria-describedby="timeSignatureAddIdHelp" required placeholder="Enter time signature id">
            <small id="timeSignatureAddIdHelp" class="form-text text-muted">Time signature id meant to be added</small>
        </div>

        <button id="submitAddJamtrackTimeSignature" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="addJamtrackTimeSignatureStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="addJamtrackTimeSignatureResponse">
                    </code>
                </pre>
    </div>
</div>