<div class="bg-light align-items-left text-left col p-3 ml-1 rounded">
    <h3 class="text-info">Completely delete jamtrack</h3>
    <form id="deleteJamtrackForm" onsubmit="return false">
        <div class="form-group">
            <label for="jamtrackDeleteId">Jamtrack id</label>
            <input type="text" class="form-control" id="jamtrackDeleteId" aria-describedby="deleteIdHelp" required placeholder="Enter jamtrack id">
            <small id="deleteIdHelp" class="form-text text-muted">Jamtrack id meant to be deleted</small>
        </div>

        <button id="submitDeleteJamtrack" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="deleteJamtrackStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="deleteJamtrackResponse">
                    </code>
                </pre>
    </div>
</div>