<div class="bg-light align-items-left text-left col p-3 ml-1 rounded">
    <h3 class="text-info">Get all jamtracks</h3>

    <button id="submitGetAllJamtracks" type="submit" class="btn btn-primary">Submit</button>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="getAllJamtracksStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="getAllJamtracksResponse">
                    </code>
                </pre>
    </div>
</div>