<div class="bg-light align-items-left text-left col p-3 rounded">
    <h2 class="text-info">Get all Genres</h2>
    <form id="getAllGenresForm" onsubmit="return false">
        <button id="submitGetAllGenres" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="getAllGenresStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="getAllGenresResponse">
                    </code>
                </pre>
    </div>
</div>