<div class="container-fluid mt-2">
    <div class="row">
        {{> artist/getAllArtists }}
        {{> artist/getArtistById }}
    </div>

    <div class="row mt-1">
        {{> artist/updateArtist }}
        {{> artist/createArtist }}
    </div>

    <div class="row mt-1">
        {{> artist/deleteArtist }}
    </div>
</div>