<div class="container-fluid mt-2">
    <div class="row">
        {{> genre/getAllGenres }}

        {{> genre/getGenreById }}
    </div>

    <div class="row mt-1">
        {{> genre/updateGenre }}
        {{> genre/createGenre }}
    </div>

    <div class="row mt-1">
        {{> genre/deleteGenre }}
    </div>
</div>