<div class="row mt-1">
    {{> jamtrack/getAllJamtracks}}
    {{> jamtrack/getJamtrackById}}
</div>

<div class="row mt-1">
    {{> jamtrack/deleteJamtrack}}
    {{> jamtrack/deleteJamtrackArtist}}
</div>

<div class="row mt-1">
    {{> jamtrack/deleteJamtrackScale}}
    {{> jamtrack/deleteJamtrackTimeSignature}}
</div>
