<div class="row mt-1">
    {{> jamtrack/getAllJamtracks}}
    {{> jamtrack/getJamtrackById}}
</div>

<div class="row mt-1">
    {{> jamtrack/updateJamtrack}}
    {{> jamtrack/addJamtrackScale}}
</div>

<div class="row mt-1">
    {{> jamtrack/addJamtrackArtist}}
    {{> jamtrack/addJamtrackTimeSignature}}
</div>