<div class="login bg-dark d-flex align-items-center">
    <form class="autoMargin">
        <input type="mail" id="mail" class="form-control" name="login" placeholder="login">
        <input type="password" id="password" class="form-control" name="password" placeholder="password"><br/>
        <input type="submit" class="btn btn-primary" value="Log In" id="login">
        <input type="submit" class="btn btn-primary" value="Sign up" id="signup"><br/>
        <small class="text-light" id="info">Please log in or sign up to use the app</small>
    </form>
</div>