<div class="container-fluid mt-2">
    <div class="row">
        {{> timeSignature/getAllTimeSignatures }}
        {{> timeSignature/getTimeSignatureById }}
    </div>

    <div class="row mt-1">
        {{> timeSignature/updateTimeSignature }}
        {{> timeSignature/createTimeSignature }}
    </div>

    <div class="row mt-1">
        {{> timeSignature/deleteTimeSignature }}
    </div>
</div>