<div class="bg-light align-items-left text-left col p-3 ml-1 rounded">
    <h2 class="text-info">Delete time signature by id</h2>
    <form id="deleteTimeSignatureByIdForm" onsubmit="return false">
        <div class="form-group">
            <label for="deleteTimeSignature">Time Signature id</label>
            <input type="text" class="form-control" id="deleteTimeSignature" aria-describedby="deleteTimeSignatureHelp" placeholder="Enter Time Signature id (UUIDv4)">
            <small id="deleteTimeSignatureHelp" class="form-text text-muted">Id of an Time Signature meant for deletion</small>
        </div>

        <button id="submitDeleteTimeSignatureById" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="deleteTimeSignatureByIdStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="deleteTimeSignatureByIdResponse">
                    </code>
                </pre>
    </div>
</div>