<div class="bg-light align-items-left text-left col p-3 rounded">
    <h2 class="text-info">Get all time signatures</h2>
    <form id="getAllTimeSignaturesForm" onsubmit="return false">
        <button id="submitGetAllTimeSignatures" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="getAllTimeSignaturesStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="getAllTimeSignaturesResponse">
                    </code>
                </pre>
    </div>
</div>