<div class="bg-light align-items-center text-center col p-3 ml-1 rounded">
    <h2 class="text-info">Get all public scales</h2>
    <form id="getAllScaleForm" onsubmit="return false">
        <button id="submitGetAllScale" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="getAllScalesStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="getAllScalesResponse">
                    </code>
                </pre>
    </div>
</div>