<div class="bg-light align-items-center text-center col p-3 ml-1 rounded">
    <h2 class="text-info">Get all user scales</h2>
    <small class="form-text text-muted">Returns all scales created by currently logged user</small>
    <form id="getAllUserScaleForm" onsubmit="return false">
        <button id="submitGetAllUserScale" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="getAllUserScalesStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="getAllUserScalesResponse">
                    </code>
                </pre>
    </div>
</div>