<div class="bg-light align-items-center text-center col p-3 rounded">
    <h2 class="text-info">Get scale by id</h2>
    <form id="getScaleByIdForm" onsubmit="return false">
        <div class="form-group">
            <label for="scaleById">Scale id</label>
            <input type="text" class="form-control" id="scaleById" aria-describedby="scaleByIdHelp" placeholder="Enter scale id (UUIDv4)">
            <small id="scaleByIdHelp" class="form-text text-muted">You're private scale id or a featured one. Can't get scales of other users
                through this endpoint unless it's management account</small>
        </div>

        <button id="submitGetIdScale" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="getIdScaleStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="getIdScaleFormResponse">
                    </code>
                </pre>
    </div>
</div>