<div class="bg-light align-items-left text-left col p-3 rounded">
    <h2 class="text-info">Search</h2>
    <form id="scaleSearch" onsubmit="return false">
        <div class="form-group">
            <label for="searchHelp">Type scale name or a part of it</label>
            <input type="text" class="form-control" id="scaleSearchInput" aria-describedby="searchHelp" placeholder="Search phrase">
        </div>

        <button id="submitScaleSearch" class="btn btn-primary">Search</button>
    </form>
</div>