<div class="bg-light align-items-left text-left col p-3 ml-1 rounded">
    <h2 class="text-info">Create Artist</h2>
    <form id="createArtistForm" onsubmit="return false">
        <div class="form-group">
            <label for="createArtist">Artist name</label>
            <input type="text" class="form-control" id="createArtist" aria-describedby="createArtistHelp" placeholder="Enter artist name">
            <small id="createArtistHelp" class="form-text text-muted"></small>
        </div>

        <button id="submitCreateArtist" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="createArtistStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="createArtistResponse">
                    </code>
                </pre>
    </div>
</div>