<div class="bg-light align-items-left text-left col p-3 rounded">
    <h2 class="text-info">Get all artists</h2>
    <form id="getAllArtistsForm" onsubmit="return false">
        <button id="submitGetAllArtists" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <p class="text-primary">Status: </p>
        <p id="getAllArtistsStatus" class="text-info"></p>
        <p class="text-primary">Response content:</p>
        <pre>
                    <code id="getAllArtistsResponse">
                    </code>
                </pre>
    </div>
</div>